// Remember to adapt your ~/.eslintrc such that it is in sync with this
// file. Otherwise your IDE will highlight different static analysis findings.
{
  // Prevent including the Visual Studio 2019 eslint configuration file from ~/.eslintrc
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "node",
    "promise"
  ],
  "env": {
    "browser": false,
    "node": true,
    "commonjs": true,
    "es2020": true,
    "mocha": true
  },
  "extends": [
      "eslint:recommended",
      "plugin:promise/recommended"
  ],
  "rules": {
    "complexity": ["error", 10]
  },
  "overrides": [
  ]
}
